/*translate and header*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
  text-align: center;
  padding-bottom: 10px;
}

hr.solid {
  border-top: 3px solid #bbbbbbbb;
  margin-left: 140px;
  margin-right: 140px;
}

.profile-button {
  font-family: 'Azeret Mono', monospace;
  background-color: #C0D725;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-button i {
  margin-right: 4px;
}

.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
}

#header-logo{
  width: 130px;
}

.app-body{
  padding: 20px;
  text-align: center;
  /* margin-bottom: 33.9vh; for relative footer */
}

.language-select{
  height: 40px !important;
  margin-bottom: 15px;
  outline: none !important;
}

/* CSS for footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 4vh;
  padding-top: 0.8vh;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #00b177;
  color: white;
}

/* CSS for Flashcards */

.mycontainer {
  max-width: 50vw;
  margin: auto;
}

.mycard-grid {
  margin: 7.5rem;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.mycard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0 , 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  height: 40vh;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
}

.mycard:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.mycard.flip {
  --rotate-y: 180deg;
}

.mycard .front,
.mycard .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.mycard .back {
  transform: rotateY(180deg);
}

/* css for sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #C0D725;
  transition: left 300ms ease-out;
  z-index: 1;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li a {
  font-family: 'Azeret Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}

.sidebar li a:hover {
  background-color: #e3f477;
 	color: black;
}

.hamburger {
  border-radius: 1px;
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -50px;
  background-color: #C0D725;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(135deg);
}
.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .hamburger div {
  transform: scale(0);
}

/* css for login */

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  /* margin-bottom: 18.5vh; for relative footer */
}

.Auth-form {
  background-image: url(./Components/gradient.jpg);
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* Homepage css */

.home-page {
  /*background-color: #C0D725;*/
  padding: 50px;
  text-align: center;
  /* margin-bottom: 11.9vh; for relative footer */
}

.hpcontainer {
  background-image: url(Components/babygreen.png);
  border: 3px solid #848582;
  border-radius: 15px;
  padding-left: 200px;
  padding-right: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.tiles {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tile {
  flex: 1;
  padding: 20px;
  transition: transform 0.3s;
}

.tile:hover {
  transform: scale(1.07);
}

.tile-link {
  text-decoration: none;
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1.9px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
}

.home-page h2 {
  font-family: 'Azeret Mono', monospace;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* CSS for newcard */

.Flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Filter-item {
  margin-right: 10px;
}

.Flashcard {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.Flashcard-content {
  margin-bottom: 10px;
}

.Flashcard-controls {
  display: flex;
  justify-content: flex-end;
}

.Flashcard-control-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 24px;
}

.Navigation-buttons {
  display: flex;
  justify-content: center;
}

.Navigation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Navigation-buttons button:hover {
  background-color: #0056b3;

}

.notlog {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 10vh;
  color: red;
}

/* CSS for buttons*/ 

.mycard-navigation {
  margin-top: 45px;
  text-align: center;
  /* margin-bottom: 33.9vh; for relative footer */
}

.prevnext {
  transition-duration: 0.2s;
  background-color: #C0D725;
	color: black;
	border: 2px solid black;
	border-radius: 1px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	padding: 0.6vw;
}

.myincr {
  transition-duration: 0.2s;
  background-color: green;
	color: white;
	border: 2px solid black;
	border-radius: 1px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	padding: 0.6vw;
}

.mydecr {
  transition-duration: 0.2s;
  background-color: red;
	color: white;
	border: 2px solid black;
	border-radius: 1px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	padding: 0.6vw;
}

.prevnext:hover {
	transform: scale(1.1);
}

.myincr:hover {
	transform: scale(1.1);
}

.mydecr:hover {
	transform: scale(1.1);
}
